[submodule "qemu"]
	path = qemu
	url = git@github.com:electricworry/qemu.git
[submodule "linux"]
	path = linux
	url = git@github.com:electricworry/linux.git
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:electricworry/u-boot.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://github.com/TrustedFirmware-A/trusted-firmware-a.git
[submodule "armbian-build"]
	path = armbian-build
	url = https://github.com/armbian/build.git
